<!DOCTYPE html>
<html>
<head>
  <title>Hacknado's Ultra Awesome Music Site</title>
  <link rel="stylesheet" href="/main.css" />
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
